/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#h2{
  position: relative;
  text-align:left; 
  font-family: 'FreeMono', monospace;
}

#h2-destaques {
  position: relative;
  text-align:left; 
  font-family: 'FreeMono', monospace;
  left: 185px;
}

.body{
  font-family: 'Georgia', serif;
  font-size: medium;
}