/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#h2{
  position: relative;
  text-align:left; 
  font-family: 'FreeMono', monospace;
  font-weight: unset;
  }

#h2-destaques {
  position: relative;
  text-align:left; 
  font-family: 'FreeMono', monospace;
  left: 185px;
}

.body{
  font-family: 'Georgia', serif;
  font-size: medium;
}

#subirTopo {
  text-decoration: none;
  margin: 30px;
  display:block;
  color: black;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  border: 0;
  font-family: sans-serif;
  opacity: .8;
  }
  
  #subirTopo:hover {
  opacity:1;
  }

  section{
    background: #f3e5f5;
    padding-top: 20px;
    padding-bottom: 30px;
  }